<div mat-dialog-title>
  <h1>Formulario de registro</h1>
</div>

<div mat-dialog-content class="container">
  <form [formGroup]="formParent" (ngSubmit)="onFormSubmit()">
    <mat-form-field>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Ingrese su nombre" type="text" formControlName="name" />
        </mat-form-field>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Clase de tiquete</mat-label>
            <input matInput type="number" formControlName="ticketClass" />
          </mat-form-field>
        </div>
        <div class="form-grid" formArrayName="planeScale">
          <div class="form field" *ngFor="let skill of getCtrl('planeScale', formParent).control s;index as formChild">

          </div>
        </div>
        <button (click)="addPlaneScale()">Agregar escala</button>
      </div>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="action">
  <button mat-raised-button [mat-dialog-close]="false">Cancelar</button>
  <button mat-raised-button (click)="onFormSubmit()" type="submit" color="primary">{{data ? 'Actualizar': 'Guardar'
    }}</button>
</div>