<mat-toolbar color="primary">
  <span>Gestionar clientes</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditClient()">Agregar cliente</button>
</mat-toolbar>
<div class="main-body">

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <div class="table-container" *ngIf="!cargando">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
      </ng-container>
      <ng-container matColumnDef="Apellido">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let element">{{element.apellido}}</td>
      </ng-container>
      <ng-container matColumnDef="Celular">
        <th mat-header-cell *matHeaderCellDef>Celular</th>
        <td mat-cell *matCellDef="let element">{{element.celular}}</td>
      </ng-container>
      <ng-container matColumnDef="Direccion">
        <th mat-header-cell *matHeaderCellDef>Direccion</th>
        <td mat-cell *matCellDef="let element">{{element.direccion}}</td>
      </ng-container>
      <ng-container matColumnDef="Fechanacimiento">
        <th mat-header-cell *matHeaderCellDef>Fecha de nacimiento</th>
        <td mat-cell *matCellDef="let element">{{element.fechaNacimiento | date}}</td>
      </ng-container>
      <ng-container matColumnDef="Options">
        <th mat-header-cell *matHeaderCellDef>Opciones</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openEditForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteCliente(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>

  <div class="mat-elevation-z8">

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>



</div>
